.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.abs-center-titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25vh;
}

.form {
  width: 450px;
}
